    <footer>
      <h2>Squads</h2>
      <ul>
        {% for squad in squads %}
          {% comment %} <li>Squad {{ squad.name }}</li> {% endcomment %}
        {% endfor %}
      </ul>
    </footer>
  </body>
</html>