{% render 'partials/head.liquid' %}

{% for message in messages %}
    <p> {{ messages }} </p>
{% endfor %}

<form method="post" action="/berichten">

<label>Tekstje:
    <input type="text" name="tekstje" required>
    </label>

<button type="submit"> Send </button>


<label for="name">Name:</label>

</form>

{% render 'partials/foot.liquid' %}